.wrapper {
  box-shadow: 2px 2px 6px 0px rgba(34, 60, 80, 0.4);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
  cursor: pointer;
  max-width: 220px;

  &:hover {
    transform: scale(1.05);
    background-color: #f6f6f6;
    transition: .3s;
  }

  .sectionImage {
    width: 200px;
    height: 200px;
  }

  .elementPrice {
    margin-top: 10px;
    font-weight: bold;
  }
}