.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 18px;
  padding-top: 20px;
  gap: 20px;


  .burgerWrapper {
    cursor: pointer;
    display: none;

    .burger {
      width: 35px;
      height: 3px;
      background-color: #fff;
      position: relative;
      display: block;
      top: 50%;

      &:before, &:after {
        content: '';
        position: absolute;
        width: 35px;
        height: 3px;
        background-color: #fff;
      }

      &:before {
        top: -10px;
      }

      &:after {
        top: 10px;
      }
    }
  }



  .container {
    display: flex;
    align-items: center;
    gap: 5px;

    .icon {
      width: 25px;
      margin-bottom: 8px;
    }

    .address {
      word-break: break-word;
    }

    .phone {
      white-space: nowrap;
    }
  }

  .dropdownContainer {
    position: relative;
  }

  .dropdownTrigger {
    cursor: pointer;
  }

  .dropdownMenu {
    position: absolute;
    z-index: 10;
    background-color: #ffffff;
    color: black;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    box-shadow: 2px 2px 6px 0px rgba(34, 60, 80, 0.4);


    .dropdownItem {
      cursor: pointer;
      padding: 10px 15px;
      font-size: 14px;
      min-width: 170px;
      text-decoration: none;
      color: black;

      &:hover {
        background-color: #f6f6f6;
        transition: .3s;
      }
    }
  }

  .dropdownMenuBack {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @media (max-width: 900px) {
    .dropdownContainer, .container {
      display: none;
    }

    .burgerWrapper {
      display: block;
    }
  }
}

@media (max-width: 900px) {
  .wrapper {
    justify-content: flex-start;
  }
}



.dropdownActive {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: .5s ease;
}

.dropdownInactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: .5s ease;
}

.dropdownMenuBackActive {
  display: block;
}

.dropdownMenuBackInactive {
  display: none;
}

